@media only screen and (min-width: 60rem) {

    header, footer {
        max-width: 1200px;
        margin: 10px auto;
    }

    .headerLogo {
        width: 180px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
    }

.weather {
    margin: 10px 0px;
    grid-column: 1;
    grid-row: 2;
    height: 300px;
}

.weather img {
    max-width: 100px;
    width: 100px;
    position: absolute;
    top: 70px;
    left: 35px;
    
}

.weather h4{
    font-size: 25px;
}

}