@media screen and (min-width: 530px) and (max-width:930px) {
    .container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(5, auto);
        }
    header .logo img {       
        min-width: 100px;        
    }
    .headings1{
        font-size: 1rem;
    }
    .headings2{
        font-size: 1rem;
        margin-top: 0rem;
    }
    #hamburgerBtn {
        text-align: right;
        margin-right: 1rem;
    }
    .hero{
        grid-row:1;
        grid-column: 1/4;
        font-size: large;
    }
    .event{
        grid-row:5;
        grid-column: 1/3;
        font-size: large;
    }
    .weather{
        grid-row: 5;
        grid-column: 3;
    }

    .news{
        grid-row:2;
        grid-column: 1/4;
        font-size: large;
    }

    .spotlight{
        grid-row: 3;
        grid-column: 1/4;;
            display: flex;
            flex-direction: row;
        }

    .join {
        display: block;
        visibility: visible;
        grid-row: 4;
        grid-column: 1/4;
        }

footer {
    text-align: center;    
    font-size: 100%;
    display: grid;    
    grid-template-columns: .5fr 2fr 1.5fr;    
    column-gap: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}
footer >div{
    margin:0;
    padding:0;
}
footer .logo  {    
    grid-column: 1;
    grid-row: 1/5;
   
}
footer .logo img {
    max-width: 70%;
    min-width: 100px;
    margin-left: 1rem;
}
.col2{
    
    margin-top: 1rem;;
    grid-column: 2;
    
}
.find-us{    
    grid-column: 3;
   padding-top: 1rem;
}

footer .seperator {
    display: block;
    color: var(--headers);
}


.about {
    margin-top:1rem;
    margin-bottom: 0;    
    border-top: var(--headers) solid 1px;    
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.about>* {
    margin-top: -.5rem;
    padding-right: 1rem;
   
}

#last-update {
    padding-bottom: 0;
    flex-basis: 100%;
    text-align: center;
    
}
#last-seperator {
    display: none;
}
    .discover {
    
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(auto, 200px);
        column-gap: 1rem;
    
    }
}



