@media only screen and (min-width: 60rem) {

    header, footer {
        max-width: 1200px;
        margin: 10px auto;
    }

    .headerLogo {
        width: 180px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
    }
    footer div img {
        width: 150px;
        display: block;
    }
    

    nav ul {
    display: flex;}
    
    .dropDownNav {
        display: none;
    }


    #mainNav {
        max-width: 600px;
        display: flex;
        
    }

    #mainNav ul {
        list-style-type: none;
        padding-left: 0;
        margin: auto;
    }

    #mainNav ul li a{
        padding: .8rem 2vw;
        flex: 0 0 auto;
        text-decoration: none;
        color: white;
        
    }

    #mainNav ul li a:hover {
        color: #5C0029;
    }


    #hamburgerBtn {
        display: none;
    }


main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    
    }
main div {
    color: white;
    margin: 10px;
    padding: 10px;

}

.hero {
    margin: 0px 10px;
    grid-column: 2;
    grid-row: 1 / span 2;
    overflow: hidden;
    padding-top: 0;
    padding-left: 0;
    height: 570px;
    
}

.hero img {
    object-fit: cover;
    max-width: 480px;
}

.news {
    margin: 0px 10px;
    grid-column: 2;
    grid-row: 3;
    height: 250px;
}

.spotlight {

    grid-column: 3;
    grid-row: 1 / span 5;
    display: block;
    padding: 10px;
    margin: 0px 0px;
    background-color: #079c6da7;
    height: 840px;

}

.spotlight div{
    margin: 10px 0px;
}

.spotlight1, .spotlight2, .spotlight3 {
    margin: 10px 0px;
    display: block;
    padding: 10px;
    width: auto;
    max-height: 246px;
    background-color: #079c6da7;

}
.spotlight img {
    height: 60px;
}

.event {
    margin: 10px 0px;
    grid-column: 1;
    grid-row: 1; 
    margin: 0;
    height: 250px;
}

.weather {
    margin: 10px 0px;
    grid-column: 1;
    grid-row: 2;
    height: 300px;
}
.join {
    margin: 0px;
    grid-column: 1;
    grid-row: 3;
    height: 250px;
}


footer div {
    margin: auto;
}

main {
    display: block;
}

.wireframe img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    
}

/*directory*/

.list h2 {
    font-size: 15px;
}
.list h3,h4,h5,h6,p {
    font-size: 10px;
}


}