@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans&display=swap');


/* phone or baseline views **************************/
body {
    max-width: 1000px;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
	text-align: center;
    margin: 10px auto;

}

.classInvite {
    text-align: center;
    display: none;
}
h1 {
    color: white;
    font-family: 'Lato', sans-serif, serif;
    
    margin: auto auto auto 10px;
    
    font-size: 1.2rem;
}
header {
    background-color: #0868c7;
    color: white;
    margin-bottom: 20px;
    
}

#currentdate {
    background-color: #5dfdca88;
    margin: 10px;
    position: relative;
    padding: 10px;
    border-bottom: 10px solid #0868c7;
}

.headerWrapper {
    display: flex;
    justify-content: flex-end;
}

.headerLogo {
    width: 80px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
	
}

.social-1 {
    width: 30px;
    margin: auto 0;
    padding: 5px;
}
.social-2 {
    width: 30px;
    margin: auto 0;
    padding: 5px;
}


button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;

}

#mainNav {display: none;}

.dropDownNav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px
    
}
.dropDownNav ul li a {
	display: block;
    text-decoration: none;
    list-style: none;
    padding: 15px;
    text-align: center;
    background-color: #5dfdca88;
    color: #fff;
    border: 1px solid black;
}


.dropDownNav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

.dropDownNav ul li a:hover {
    background-color: #5C0029;
}


.dropDownNav ul {display: none;}
.dropDownNav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}



#date {
    text-align: center;
    padding: 20px;
}

main div {
    color: white;
    margin: 0px auto;

}
main h1, h2{
    color: #5C0029;
}

.hero {
        position: relative;
        height: 400px;
        background-color: #079c6da7;
        
        }
.hero img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        }
    
.hero h1 {
        position: absolute;
        top:00px;
        left: 5px;
        font-weight: bold;
        font-size: 30px;
        text-align: left;
        z-index: 1;
        text-shadow: 5px 5px 5px #5C0029;
        color: #5C0029;
        }
.hero h2 {
        background-color: #5C0029;
        color: white;
        position: absolute;
        bottom: -5px;
        right: 20px;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        z-index: 1;
        padding: 10px;
        border-radius: 10px;
        }

.weather {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    position: relative;
    text-align: center;
    max-width: 600px; 
    height: 200px;   
    background-color: #079c6da7;
}

.weather h2{
    grid-column: 1/4;
    grid-row: 1/1;
    text-align: center;
    margin:0;
    padding:10px;
}
.weather h3{
    grid-column: 3/3;
    grid-row: 2/3;
    text-align: center;
    margin:0;
    padding:10px;
    margin-right: 50px;
}
.weather h4{
    grid-column: 3/3;
    grid-row: 3/3;
    text-align: center;
    margin:0;
    padding:10px;
    margin-right: 50px;
}
.weather p{
    grid-column: 1/4;
    grid-row: 4/4;
    text-align: center;
    margin:0;
    padding:0;
}

.weather img {
    max-width: 50px;
    position: absolute;
    top: 60px;
    left: 100px;
    
}

.event {
    height: 200px;
    padding: 0px;
    text-align: center;
    max-width: 600px;
    background-color: #079c6da7;
}
.news {
    height: 200px;
    text-align: center;
    max-width: 600px;
    background-color: #079c6da7;
}

.join {
    display: none;
}

.spotlight {
    height: 600px;
    padding: 0px;
    margin: 10px auto;
    text-align: center;
    max-width: 1000px;
    
}
.spotlight1 h3 {
    font-style: italic;
}
.spotlight1 {
    padding: 0px;
    margin: 0px;
    height: 300px;
    background-color: #079c6da7;
}

.spotlight2 {
    padding: 0px;
    margin: 0px;
    height: 300px;
    background-color: #079c6da7;
    display: block;
}
.spotlight img {
    max-width: 80px;
}
.spotlight3{
    display: none;
}

footer div img {
	width: 200px;
}
footer {
    background-color: #0868c7;
    color: white;
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    
}
footer div p {
    text-align: center;
}
footer div p a {
    color: white;
}

.mapIcon img{
    width: 30px;
}

/*wireframe*/
main {
    display: block;

}

.wireframe img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

/*directory*/
.buttons {
    display: flex;
    justify-content: center;
}
#grid, #list {
    font-size: 20px;
    padding: 15px;
    color: #5C0029;
    background: #079c6da7;
    border-radius: 10px;
    border: 1px outset #5C0029;
}

#grid:hover, #list:hover {
    box-shadow: 0px 0px 5px 5px #5C0029;
}

div.cards {
    height:100%;
    display: grid;   
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 5px;
    background-color: white;
    color: #5C0029;
    
}

div.cards section {
    background-color: #079c6da7;
    padding: 5px;
    margin: 5px;
}

.cards div h2,h2,h3,h4,h5,h6,p {
    display: block;
    text-align: center;
    font-size: 15px;
}

.cards img {
    display: block;
    margin:0 auto;
    padding-bottom: 10px;
    max-width: 50%;
}

.list {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.list section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 5px;
    text-align: left;
    padding: 2px;
    background-color: #079c6da7;
    color: #5C0029;
}
.list section h2 {
    font-size: 20px;
}

.list section h3,h4,h5,h6,p {
    font-size: 15px;
}

#directory div.list section h3,h4,h5,h6,p {
    font-size: 15px;
}

.list section img {
    max-width: 150px;
    border: 1px solid #5C0029;
    margin-top: 10px;
}

.list section h2,h3, h4 {
    display: none;
}